.container {
  padding: 50px;
  display: flex;
  flex-direction: row;
}

.color-line span {
  display: inline-block;
  width: 100px;
}

.range-value {
  width: 30px;
}

#final-color {
  margin-left: 10px;
  width: 100px;
  height: 100px;
  border: 1px;
  border-style: solid;
}

.range {
  width: 200px;
}
